.header {
  display: flex;
  align-items: center;
}

.logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.main-layout {
  display: flex;
}

.park-areas {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.park-area {
  width: 33%;
}

.guests {
  width: 200px;
}

footer {
  text-align: center;
}